@import url('https://fonts.googleapis.com/css2?family=Genos:wght@400;500;700;800&family=Ubuntu:wght@300;400;500&display=swap');


/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}


body {
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    font-family: 'Genos', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: block;
    max-width: 45em;
    margin: 0 auto;
    border-radius: 10px;
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    background: linear-gradient(360deg, #2b2b2b 10%, #494949 360%);


    position: relative;

    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.23);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.23);
}

.card::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    background: rgb(8, 8, 8);
    background: linear-gradient(0deg, rgba(8, 8, 8, 1) 19%, rgba(63, 147, 97, 1) 66%, rgba(9, 245, 103, 1) 100%);
}

.card::after {
    filter: blur(2rem);
}

.card-body h1 {
    text-align: center;
    font-size: 4rem;
    color: white;
    margin-block: .5em;
}

.numb,
.randomizer-numb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 1px solid grey;
    border-radius: 5px;
    background: #1db954;
    color: white;
    margin-top: 2em;
    margin-bottom: 1em;
}

.numb p,
.randomizer-numb p {
    font-size: 2.5rem;

}

.randomizer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}



.buttons {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 4em;
    margin-inline: 2em;
}

.btn {
    padding: 15px 25px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 5px;
    border: 0.5px solid transparent;
    cursor: pointer;

    transition: 150ms transform ease-in;
}


.btn:hover {
    transform: scale(1.06);
    background: #1db954;
    color: white;
}



#four,
#six,
#seven {
    display: none;
    gap: 2em;
    margin-block: 2em;
}

#four {
    display: flex;
}

.newNum {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 50%;
    padding: 15px 0;

    background: #1db954;
    font-weight: 500;
    font-size: 1.5rem;
    border: 0.5px solid grey;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.23);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.23);

    transition: 100ms all ease-in;
}

#newNum:hover {
    color: white;
    transform: scale(1.04);
}

@media screen and (max-width:600px) {
    body {
        height: 100vh;
    }

    .card {
        width: 100%;
    }

    .buttons {
        flex-direction: column;
    }

    #four,
    #six,
    #seven {
        gap: 0;
    }
}